<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.journey.dao.JourneyDao">
	<!-- <insert id="addJourney" parameterType="journeyList">
		<selectKey keyProperty="id" order="BEFORE"
			resultType="String">
			select replace(uuid(),'-','')
		</selectKey>
		insert into journey values
		<foreach item="journey" collection="journeyList" separator=",">
			(#{journey.location}, #{journey.rating}, #{journey.rank},
			#{journey.url},#{journey.country}, #{journey.title},
			#{journey.subtitle}, #{journey.city, #{journey.imageUrls},
			#{journey.tipInfo},
			#{journey.openingHours},#{journey.description},
			#{journey.price},
			#{journey.commentCount}, #{journey.recommend})
		</foreach>
	</insert>
	<resultMap type="Journey" id="JourneyMap"></resultMap> -->
</mapper>